.sora-carousel {
    overflow: hidden;

    .sora-wrapper {
        position: relative;

        .sora-slide {
            position: absolute;
            top: 0;
            width: 100%;

            &.sora-relative {
                position: relative;
            }

            &.sora-hidden {
                display: none !important;
            }
        }
    }
}
